In [94]:
result = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [103]:

a = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex6.csv', nrows=5)
a.head(600)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [89]:
chunk = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex6.csv', chunksize=1000)
chunk

Writing Data to Text Format

In [90]:
data = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [91]:
data.to_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\out.csv')

In [92]:
import sys
data.to_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\out1.csv', sep='@')

In [93]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [94]:
data.to_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\out2.csv', index=False, header=False)

In [95]:
data.to_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\out3.csv', index=False, columns=['a', 'b', 'c'])

In [106]:
import numpy as np 
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [108]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\tseries.csv')
ts

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

Working with Delimited Formats

In [109]:
import csv
f = open(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex7.csv')

reader = csv.reader(f)
reader

In [111]:
pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex7.csv')

   a  b  c
0  1  2  3
1  1  2  3

In [110]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [114]:
with open(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex7.csv') as f:
    lines = list(csv.reader(f))
    print(lines)

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [127]:
a,b,c = ("sudh",1,2)

In [131]:
l1 = [1,2,3,4]
l2 = [1,2,3]
list(zip(l1,l2))

[(1, 1), (2, 2), (3, 3)]

In [121]:
header, values = lines[0], lines[1:]

In [123]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [122]:
header

['a', 'b', 'c']

In [125]:
list(zip(*values))

[('1', '1'), ('2', '2'), ('3', '3')]

In [126]:
list(zip(header, zip(*values)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [34]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

# Pandas

# file Read Write operation

In [35]:

import pandas as pd

In [42]:
import pandas as pd

draft1 = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex1.csv')    # Supply the file name (path)

type(draft1)

pandas.core.frame.DataFrame

In [43]:
draft2 = pd.read_table(r'C:\Users\jiwit\Downloads\code_pandas1\examples\test.tsv')  # Read a tsv into a DataFrame

draft2.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [49]:
df = pd.read_csv('C:/Users/jiwit/Downloads/code_pandas1/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [45]:
pd.read_table(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex1.csv', sep=',')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [46]:
pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [52]:
df =pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex2.csv', names=['asdfdsfs','fsdf', 'b'])
df

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [80]:
!cat /Users/sudhanshukumar/Downloads/examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [9]:

parsed = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [33]:
!type /Users/sudhanshukumar/Downloads/examples/ex4.csv

The syntax of the command is incorrect.

In [56]:

result = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [57]:
result = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex5.csv', na_values=['one'])
result

  something  a   b     c   d message
0       NaN  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo