In [43]:
# use of apply functions

In [51]:
# Define a function
def testfunc(x):
    if (x> 500):
        return (10*np.log10(x))
    else:
        return (x/10)

In [52]:
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10],
                   'col2':[444,555,666,444,333,222,666,777,666,555],
                   'col3':'aaa bb c dd eeee fff gg h iii j'.split()})
df

   col1  col2  col3
0     1   444   aaa
1     2   555    bb
2     3   666     c
3     4   444    dd
4     5   333  eeee
5     6   222   fff
6     7   666    gg
7     8   777     h
8     9   666   iii
9    10   555     j

In [54]:
df['FuncApplied'] = df['col1'].apply(testfunc)
print(df)

   col1  col2  col3  FuncApplied
0     1   444   aaa          0.1
1     2   555    bb          0.2
2     3   666     c          0.3
3     4   444    dd          0.4
4     5   333  eeee          0.5
5     6   222   fff          0.6
6     7   666    gg          0.7
7     8   777     h          0.8
8     9   666   iii          0.9
9    10   555     j          1.0

In [55]:
df['col3length']= df['col3'].apply(len)
print(df)

   col1  col2  col3  FuncApplied  col3length
0     1   444   aaa          0.1           3
1     2   555    bb          0.2           2
2     3   666     c          0.3           1
3     4   444    dd          0.4           2
4     5   333  eeee          0.5           4
5     6   222   fff          0.6           3
6     7   666    gg          0.7           2
7     8   777     h          0.8           1
8     9   666   iii          0.9           3
9    10   555     j          1.0           1

In [56]:
df['FuncApplied'].apply(lambda x: np.sqrt(x))

0    0.316228
1    0.447214
2    0.547723
3    0.632456
4    0.707107
5    0.774597
6    0.836660
7    0.894427
8    0.948683
9    1.000000
Name: FuncApplied, dtype: float64

In [57]:
print("\nSum of the column 'FuncApplied' is: ",df['FuncApplied'].sum())

Sum of the column 'FuncApplied' is:  5.5

In [58]:
print("Mean of the column 'FuncApplied' is: ",df['FuncApplied'].mean())

Mean of the column 'FuncApplied' is:  0.55

In [59]:
print("Std dev of the column 'FuncApplied' is: ",df['FuncApplied'].std())

Std dev of the column 'FuncApplied' is:  0.30276503540974914

In [60]:
print("Min and max of the column 'FuncApplied' are: ",df['FuncApplied'].min(),"and",df['FuncApplied'].max())

Min and max of the column 'FuncApplied' are:  0.1 and 1.0

In [61]:
### Deletion, sorting, list of column and row names

In [62]:
print("\nName of columns\n",'-'*20, sep='')
print(df.columns)

Name of columns
--------------------
Index(['col1', 'col2', 'col3', 'FuncApplied', 'col3length'], dtype='object')

In [63]:
l = list(df.columns)
print("\nColumn names in a list of strings for later manipulation:",l)

Column names in a list of strings for later manipulation: ['col1', 'col2', 'col3', 'FuncApplied', 'col3length']

In [64]:
print("\nDeleting last column by 'del' command\n",'-'*50, sep='')
del df['col3length']
print(df)
df['col3length']= df['col3'].apply(len)

Deleting last column by 'del' command
--------------------------------------------------
   col1  col2  col3  FuncApplied
0     1   444   aaa          0.1
1     2   555    bb          0.2
2     3   666     c          0.3
3     4   444    dd          0.4
4     5   333  eeee          0.5
5     6   222   fff          0.6
6     7   666    gg          0.7
7     8   777     h          0.8
8     9   666   iii          0.9
9    10   555     j          1.0

In [65]:
df.sort_values(by='col2') #inplace=False by default

   col1  col2  col3  FuncApplied  col3length
5     6   222   fff          0.6           3
4     5   333  eeee          0.5           4
0     1   444   aaa          0.1           3
3     4   444    dd          0.4           2
1     2   555    bb          0.2           2
9    10   555     j          1.0           1
2     3   666     c          0.3           1
6     7   666    gg          0.7           2
8     9   666   iii          0.9           3
7     8   777     h          0.8           1

In [66]:
df.sort_values(by='FuncApplied',ascending=False) #inplace=False by default

   col1  col2  col3  FuncApplied  col3length
9    10   555     j          1.0           1
8     9   666   iii          0.9           3
7     8   777     h          0.8           1
6     7   666    gg          0.7           2
5     6   222   fff          0.6           3
4     5   333  eeee          0.5           4
3     4   444    dd          0.4           2
2     3   666     c          0.3           1
1     2   555    bb          0.2           2
0     1   444   aaa          0.1           3

In [67]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [68]:
df.isnull()

    col1   col2   col3
0  False   True  False
1  False  False  False
2  False  False  False
3   True  False  False

In [69]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz

In [74]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [75]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [76]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [78]:
pd.merge(df1, df2, how='inner')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [79]:
pd.merge(df1, df2, how='outer')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [80]:
pd.merge(df1, df2, how='left')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [81]:
pd.merge(df1, df2, how='right')

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
# use of apply functions

# Define a function
def testfunc(x):
    if (x> 500):
        return (10*np.log10(x))
    else:
        return (x/10)

df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10],
                   'col2':[444,555,666,444,333,222,666,777,666,555],
                   'col3':'aaa bb c dd eeee fff gg h iii j'.split()})
df

df['FuncApplied'] = df['col1'].apply(testfunc)
print(df)

df['col3length']= df['col3'].apply(len)
print(df)

df['FuncApplied'].apply(lambda x: np.sqrt(x))

print("\nSum of the column 'FuncApplied' is: ",df['FuncApplied'].sum())


print("Mean of the column 'FuncApplied' is: ",df['FuncApplied'].mean())


print("Std dev of the column 'FuncApplied' is: ",df['FuncApplied'].std())


print("Min and max of the column 'FuncApplied' are: ",df['FuncApplied'].min(),"and",df['FuncApplied'].max())

### Deletion, sorting, list of column and row names

print("\nName of columns\n",'-'*20, sep='')
print(df.columns)


l = list(df.columns)
print("\nColumn names in a list of strings for later manipulation:",l)

print("\nDeleting last column by 'del' command\n",'-'*50, sep='')
del df['col3length']
print(df)
df['col3length']= df['col3'].apply(len)

df.sort_values(by='col2') #inplace=False by default

df.sort_values(by='FuncApplied',ascending=False) #inplace=False by default

df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

df.isnull()

df.fillna('FILL')

df1


df2

df3

pd.merge(df1, df2, how='inner')

pd.merge(df1, df2, how='outer')

pd.merge(df1, df2, how='left')

pd.merge(df1, df2, how='right')