# Binary Data Formats

In [150]:
frame = pd.read_csv(r'C:\Users\jiwit\Downloads\code_pandas1\examples\ex1.csv')
frame
frame.to_pickle(r'C:\Users\jiwit\Downloads\code_pandas1\examples\frame_pickle')

In [151]:
pd.read_pickle(r'C:\Users\jiwit\Downloads\code_pandas1\examples\frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:

import numpy as np 
frame = pd.DataFrame({'a': np.random.randn(100)})
frame

           a
0   1.677763
1  -0.209039
2   1.649716
3  -0.753869
4   0.272557
5   1.552156
6  -0.001112
7  -0.214531
8  -1.355669
9   0.027714
10  1.256012
11 -0.781310
12 -0.196650
13 -0.450632
14  1.325560
15 -0.587647
16  0.040169
17  0.445035
18  1.550121
19 -0.733572
20 -0.185842
21  0.472075
22 -0.316638
23  0.858075
24 -1.260121
25  0.032595
26 -0.349443
27  0.726962
28 -0.227985
29 -0.026468
..       ...
70 -0.389324
71 -0.172889
72  0.697223
73 -1.577246
74  1.172262
75  1.415068
76  2.040326
77  1.367233
78 -1.268847
79 -1.383067
80  0.842679
81  0.046606
82 -0.374729
83 -0.285463
84 -0.096203
85  1.197761
86  0.668991
87  1.505206
88 -0.031392
89 -1.050221
90 -0.119872
91 -0.909584
92 -2.122315
93 -0.688750
94 -0.913602
95  2.604124
96  0.319151
97  0.150502
98  1.151625
99  0.717769

[100 rows x 1 columns]

In [155]:
 pd.DataFrame({'a': np.random.randn(10)})

          a
0 -1.140791
1 -1.054877
2  0.094957
3  0.166885
4  0.457669
5  1.005326
6 -1.154507
7  0.828534
8  0.084522
9  0.058449

Using HDF5 Format

In [175]:
frame = pd.DataFrame({'a': np.random.randn(10)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] =frame
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [173]:
store['obj1']

          a
0 -0.608381
1 -0.457099
2  1.460578
3 -0.729076
4 -0.190255
5  0.416367
6 -1.314295
7  0.920635
8 -0.751058
9  0.165481

In [167]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [168]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

ValueError: The file 'mydata.h5' is already opened, but not in read-only mode (as requested).