# Assignment

Q1. Write the Python program to add, subtract, multiply and divide
two pandas series ?

    Sample Series- [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

Q2. Write a Python program to convert a dictionary to the Pandas
Series?
    
    Sample SeriesOriginal dictionary-
    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
    Converted series -
    a 100
    b 200
    c 300
    d 400
    e 800
    dtype- int64

Q3. Write a python program to change the data type of given a
column or a Series?

    Sample SeriesOriginal Data Series0 100
    1 200
    2 python
    3 300.12
    4 400
    dtype- object
    Change the said data type to numeric0 100.00
    1 200.00
    2 NaN
    3 300.12
    4 400.00
    dtype- float64

Q4. Write the python pandas program to convert the first column of a
DataFrame as a Series?

    Sample OutputOriginal DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    1st column as a Series0 1
    1 2
    2 3
    3 4
    4 7
    5 11
    Name- col1, dtype- int64
    <class 'pandas.core.series.Series'>

Q5. Write a pandas program to create the mean and standard
deviation of the data of a given Series?

    Sample OutputOriginal Data Series0 1
    1 2
    2 3
    3 4
    4 5
    5 6
    6 7
    7 8
    8 9
    9 5
    10 3
    dtype- int64
    Mean of the said Data Series4.81818181818
    Standard deviation of the said Data Series2.52262489555

Q6. Write a pandas program to get powers of an array values
element-wise?
 
Note First array elements raised the powers from the second array.

    Sample data: {'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]}
    Expected Output:
    X Y Z
    0 78 84 86
    1 85 94 97
    2 96 89 96
    3 80 83 72
    4 86 86 83

Q7. Write the pandas program to get the first 3 rows of a given
DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
    Expected OutputFirst three rows of the data frameattempts name qualify score
    a 1 Anastasia yes 12.5
    b 3 Dima no 9.0
    c 2 Katherine yes 16.5

Q8: Write the pandas program to select the specified columns and
the rows from a given data frame?

    Sample Python dictionary data and list labelsSelect 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
    exam_data = {'name ': [ 'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score'- [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] }
    labels = ['a ', ' b ', ' c ', ' d ', ' e ', ' f ', ' g ', 'h', 'i', 'j']
    Expected OutputSelect specific columns and rowsname score
    b Dima 9.0
    d James NaN
    f Michael 20.0
    g Matthew 14.5

Q9. Write the pandas program to calculate mean score for each
different student in DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    Expected OutputMean score for each different student in data frame:
    13.5625

Q10. Write the Pandas program to rename columns of a given
DataFrame ?

    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 9
    New data frame after renaming columns:
    Column1 Column2 Column3
    0 1 4 7
    1 2 5 8
    2 3 6 9

Q11. Write a pandas program to count city-wise number of people from
a given of data set (city, name of the person)?

    Sample data-
    city Number of people
    0 California 4
    1 Georgia 2
    2 Los Angeles 4

Q12. Write a pandas program to widen output display to see more
columns?
    
    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 4 5 8
    2 3 6 9
    3 4 7 0
    4 5 8 1

Q13. Write a pandas program to convert the data frame column type
from string to DateTime?
    
    Sample dataString Date0 3/11/2000
    1 3/12/2000
    2 3/13/2000
    dtype- object
    Original DataFrame (string to datetime)-
    0
    0 2000-03-11
    1 2000-03-12
    2 2000-03-13

Q14. Write a pandas program to append the data to an empty
DataFrame?

    Sample dataOriginal DataFrame- After appending some data: col1 col2 0 0 0 1 1 1 2 2 2

Q15. Write a pandas program to count the number of columns of a
DataFrame?

    Sample OutputOriginal DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 12
    3 4 9 1
    4 7 5 11
    Number of columns- 3

Q16. Write a Pandas program to remove the last n rows of a given
DataFrame ?

    Sample Output:
    Original DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    After removing last 3 rows of the said DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    
     Link for Datasets
     (https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

Q17. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a Pandas data frame.

Q18. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a data frame and find details where "Mine Name" starts with
"P.

Q19. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find the list of employees where
hire_date> 01-01-07.

Q20. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find a list of the employees of a specified
year

## Great Job!