# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np

def moving_average(a, n=3) :
#we use np.cumsum to get a cumulative sum of the numbers
  asum = np.cumsum(a, dtype=float)
#We are breaking the array as per desired number which is 'n' in our function 
#and subtracting elements to get the desired result 
  asum[n:] = asum[n:] - asum[:-n] 
  return asum[n - 1:] / n

a=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] 
a1=np.array(a) 
#rounding off the results to two digts 
np.array(moving_average(a1,n=3)).round(2)

array([  5.  ,   4.67,   5.67,   6.67,   9.67,  28.67,  49.33,  72.67,
        84.  ,  93.33, 116.33])

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
import pandas as pd 
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 
S = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

#Converting the series value to boolean by using 'eq() to have a 0 and 1 
#assigned to each value for additions #Using 'cumsum' to get a cumulative sum 
#of values #Masking the original zeros using 'mask' #Taking the cumulative count
#of the values in list using 'cumcount' and adding 1 to each element #Masking the original zeros again using 'eq()', replacing it with 0

(S.groupby(S.eq(0).cumsum().mask(S.eq(0))).cumcount() + 1).mask(S.eq(0),0)

#Naming the equation for converting it into a dataframe, naming it to keep it 
#simple instead of writing complete eq 

Result=(S.groupby(S.eq(0).cumsum().mask(S.eq(0))).cumcount() + 1).mask(S.eq(0),0)

#creating a new column 'Y' 
pd.DataFrame((Result),columns=['Y'])

   Y
0  1
1  2
2  0
3  1
4  2
5  3
6  4
7  0
8  1
9  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [5]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2015', periods=261, freq='B')
df = pd.DataFrame(np.random.randn(261,1), index=dates)
print("--2025",df)

--2025                    0
2015-01-01  1.794025
2015-01-02 -2.019849
2015-01-05 -1.158756
2015-01-06 -0.013799
2015-01-07  1.522439
...              ...
2015-12-25  0.904905
2015-12-28  0.656315
2015-12-29 -0.950532
2015-12-30 -0.547936
2015-12-31 -0.682153

[261 rows x 1 columns]

Q.4